.feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.cards img {
    width: 100%;
    border-radius: 10px;
}

.cards h2 {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 5px 0;
}

.cards h3 {
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin: 6px 0;
}

.cards p{
    font-size: 14px;
}

