.recommendations {
    flex-basis: 29%;
}
.side-videolist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.side-videolist img {
    flex-basis: 50%;
    width: 50%;
}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 14px;
    margin-bottom: 5px;
}